/* 전체 페이지 */
.input-page {
    background-color: #4F5645;
    text-align: center;
    color: #EEEDEC;
    min-height: 100vh;
}

/* 메인 콘텐츠 */
.input-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #4F5645;
    border-radius: 8px;
}

/* 섹션 제목 */
.input-container .section-title {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

/* 파일 업로드 힌트 */
.file-hint {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    color: #EEEDEC;
}

/* 파일 업로드 박스 */
.input-container .file-upload-container {
    border: 2px dashed #1A1918;
    padding: 20px;
    text-align: center;
    background-color: #EEEDEC;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.file-upload {
    color: #1A1918;
    margin-top: 10px;
}

/* URL 입력 */
.input-container .url-input {
    margin-top: 5px;
    background-color: #EEEDEC;
    border-color: #f5a5a5 !important;
}

/* 요약 텍스트 필드 */
.input-container .summary-textarea {
    margin-top: 5px;
    background-color: #EEEDEC;
    border-color: #f5a5a5 !important;
}

/* 공고 요약 버튼 */
.input-container .summarize-button {
    background-color: #EEEDEC;
    color: #1A1918;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.input-container .summarize-button:hover {
    transform: scale(1.05); /* 버튼을 5% 확대 */
}

/* 예상 질문 생성 버튼 */
.input-container .generate-button {
    background-color: #EEEDEC;
    color: #1A1918;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    display: block;
    margin: 25px auto 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.input-container .generate-button:hover {
    transform: scale(1.1); /* 버튼을 10% 확대 */
}