/* 전체 배경 */
body {
    background-color: #1A1918;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.home {
    text-align: center;
    color: #EEEDEC;
}

/* 네비게이션 바 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 메인 콘텐츠 */
.main-content {
    margin-top: 20px;
    background-color: #1A1918;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* 버튼 */
.start-button {
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 8px;
}

/* 스크롤 섹션 */
.scroll-sections {
    margin-top: 10px;
}

.scroll-section {
    background-color: #4F5645;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.scroll-section:hover {
    transform: translateY(-5px);
}

.scroll-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #EEEDEC;
}