/* Home.css */

body {
    background-color: #FFF;
    margin: 0;
    font-family: 'Pretendard', sans-serif;
  }
  
  .home {
    text-align: center;
    color: #000000;
  }
  
  /* 서비스 이름 스타일 */
  .service-name {
    font-weight: bold;
    margin-top: 8rem;
  }
  
  /* 메인 콘텐츠 */
  .main-content {
    margin-top: 20px;
    padding: 40px 20px 10px 20px;
    background-color: #FFF;
  }
  
  .main-title {
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .main-description {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .start-button {
    background-color: #084032;
    color: #fff;
    padding: 10px 24px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #fff;
    color: #084032;
  }
  
  /* 스크롤 섹션 */
  .scroll-sections {
    margin-top: 10px;
  }
  
  .scroll-grid {
    margin-top: 2rem;
  }
  
  .scroll-section {
    background-color: #EFF0EE;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .scroll-section:hover {
    transform: translateY(-5px);
  }
  
  .scroll-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
  }
  
  .scroll-description {
    font-size: 18px;
    margin-top: 15px;
    color: #000;
  }
  